{% extends 'base.html' %}

{% block nav %}
        <div class="container">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" >ようこそ！{{ request.user.username }}さん！</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#!">All Products</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="{% url 'main' %}">main</a></li>
                          <li><a class="dropdown-item" href="{% url 'todayyou' %}">今日のあなた</a></li>
                          <li><a class="dropdown-item" href="{% url 'sns' %}">SNS</a></li>
                          <li><a class="dropdown-item" href="{% url 'signout' %}">signout</a></li>
                      </ul>
                  </li>
              </ul>
              <form class="d-flex">
                  
              </form>
          </div>
      </div>
  </nav>



          <!-- Navigation-->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
              <a class="navbar-brand" href="#!">ようこそ！{{ request.user.username }}さん！</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown"  role="button" data-bs-toggle="dropdown" aria-expanded="false">menu</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'main' %}">main</a></li>
                  <li><a class="dropdown-item" href="{% url 'todayyou' %}">今日のあなた</a></li>
                  <li><a class="dropdown-item" href="{% url 'sns' %}">SNS</a></li>
                  <li><a class="dropdown-item" href="{% url 'signout' %}">signout</a></li>
                </ul>
              </li>
            </div>
          </nav>
        </div>
        {% endblock nav %}