{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'img/wsa1910080700002-p1.jpeg' %}" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">@{{ request.user.username }}
                </div>
                <h1 class="display-5 fw-bolder">今日のスタイル
                </h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                </div>
                <form action="" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                  <div class="mb-3">
                    <label for="{{ form.todaypoint.auto_id }}">{{ form.todaypoint.label }}</label>
                    {{ form.todaypoint }}
                    {{ form.todaypoint.errors }}
                  </div>
                  <div class="mb-3">
                    <label for="{{ form.myimage.auto_id }}">{{ form.myimage.label }}</label>
                    {{ form.myimage }}
                    {{ form.myimage.errors }}
                  </div>
                  <input type="submit" class="btn btn-primary mt-3" role="button" value="採点">
                  <a href="{% url 'todayyoumarking' %}">結果</a>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

